BETTER_AUTH_SECRET=PEP5PbBpDHXuFv5KgR480ZlXQuM7vd29

BETTER_AUTH_URL=http://localhost:3000 # ata change korta hoba

MONGODB_URI=mongodb+srv://Tech_Bazaar:33PwyW6saM7lVZpz@cluster0.tf8wcgd.mongodb.net/?appName=Cluster0


SERVER_URL=http://localhost:5000  # ata change korta hoba



# mongodb+srv://Tech_Bazaar:33PwyW6saM7lVZpz@cluster0.tf8wcgd.mongodb.net/?appName=Cluster0
